.courseMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  width: 350px;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 30px;
}
.cardPrice {
  font-style: italic;
  font-size: 16px;
  color: red;
  text-align: end;
}
.cardDeleteBtn {
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: rgb(144, 60, 144);
  color: white;
}
.refreshDiv {
  text-align: center;
}
